.navbar-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
}

.navbar-title {
  font-family: 'Roboto';
  font-size: 28px;
  color: #000000;
  font-weight: bold;
}

.my-orders-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.my-orders-para {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.cart-icon {
  font-size: 30px;
}

.navbar-header-link {
  text-decoration: none;
}

.cart-header-button {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}

.logout {
  font-family: 'Roboto';
  border: 1px solid #000000;
  color: #000000;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
}

.logout:hover {
  background-color: orange;
  color: #ffffff;
}

.mobile-logout {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-title {
    font-size: 16px;
  }

  .my-orders-para {
    font-size: 13px;
    display: none;
  }

  .cart-icon {
    font-size: 23px;
  }

  .mobile-logout {
    display: block;
  }

  .logout {
    display: none;
  }
}
